.reveal.center {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #fdf6e3;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer img.github {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  margin: 15px;
  width: 30%;
}

.sa-logo {
  background: #343333;
  border-radius: 100px;
  display: inline-block;
  font-size: 0;
}

.sa img {
  width: 150px;
}

.uofc-logo {
  background: #1f1f1f;
  border-radius: 10px;
  display: inline-block;
  font-size: 0;
}

.uofc-logo img {
  width: 200px;
}

.vt-logo {
  background: #17173a;
  border-radius: 10px;
  padding: 10px 75px;
  display: inline-block;
  font-size: 0;
}

.vt-logo img {
  width: 100px;
}

.bg-logo {
  background: #14161d;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 0;
}
.bg-logo img {
  width: 300px;
}

.loader {
  margin: auto;
  width: 480px;
  height: 480px;
  border: 10px dotted #586e75;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 8s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 10px dotted #859900;
  border-style: solid solid dotted;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  animation: rotationBack 6s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
